* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
img {
  max-width: 100%;
}
.logo-img {
  width: 150px;
}

.banner-slider {
  position: relative;
}
.banner-slider1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000071;
  z-index: 9;
}

.time-box h1 {
  position: relative;
}

.time-box h1:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 10px;
  border-right: 2px dotted #121212;
  margin: auto;
}
.time-box1 h1 {
  position: relative;
}

.time-box1 h1:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 10px;
  border-right: 2px dotted #121212;
  margin: auto;
}
.time-box2 h1 {
  position: relative;
}

.time-box2 h1:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 10px;
  border-right: 2px dotted #121212;
  margin: auto;
}
.team {
  background-image: url(../images/banner1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .carousel-item img {
  position: relative;
}
.carousel-item img::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 99;
} */

@media screen and (max-width: 1023px) {
  .desttop-nav {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .banner-slider {
    height: 300px !important;
  }
}
