* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
ul,
ol,
li,
i {
  padding: 0;
  margin: 0;
}
.logo-img {
  width: 150px;
}

.banner-slider {
  position: relative;
}
.banner-slider1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000071;
  z-index: 9;
}

.time-box h1 {
  position: relative;
}

.time-box h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 10px;
  border-right: 2px dotted #121212;
  margin: auto;
}
.time-box1 h1 {
  position: relative;
}

.time-box1 h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 10px;
  border-right: 2px dotted #121212;
  margin: auto;
}
.time-box2 h1 {
  position: relative;
}

.time-box2 h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 10px;
  border-right: 2px dotted #121212;
  margin: auto;
}

.team {
  background-image: url(../images/banner1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px #121212b3;
}
.team-member {
  width: 80%;
  margin: auto;
}

.icon i {
  font-size: 16px;
  padding: 6px;
  margin: 0 2px;
}
.why1 {
  position: relative;
}
.why1 h3::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 100px;
  height: 1px;
  border-bottom: 1px solid #121212cc;
}
.why2 {
  position: relative;
}
.why2 h3::before {
  content: "";
  position: absolute;
  top: 40px;
  right: 0;
  width: 100px;
  height: 1px;
  border-bottom: 1px solid #121212cc;
}
/* .carousel-item img {
  position: relative;
}
.carousel-item img::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 99;
} */

@media screen and (max-width: 1023px) {
  .desttop-nav {
    display: none;
  }
  .why2 h3::before {
    right: 0;
    left: 0;
    margin: auto;
  }
  .why1 h3::before {
    right: 0;
    left: 0;
    margin: auto;
  }
  .nav-main {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .banner-slider {
    height: 300px !important;
  }
  .why2 h3::before {
    right: 0;
    left: 0;
    margin: auto;
  }
  .why1 h3::before {
    right: 0;
    left: 0;
    margin: auto;
  }
}
